@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

.horizontal-shake {
  animation: horizontal-shaking 0.25s;
  animation-iteration-count: 1;
}
