@tailwind base;
@tailwind components;
@tailwind utilities;

/* Override RainbowKit button to look more like ours */
.connect-button button {
  border-radius: 0.375rem !important;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0)
  }

  25% {
    transform: translateX(5px)
  }

  50% {
    transform: translateX(-5px)
  }

  75% {
    transform: translateX(5px)
  }

  100% {
    transform: translateX(0)
  }
}

.horizontal-shake {
  animation: horizontal-shaking 0.25s;
  animation-iteration-count: 1;
}
